@use "variables.scss";
@use "fontcss/roadrage.scss";
@use "fontcss/bebasneue.scss";
@use "fontcss/assc.scss";
@use "fontcss/tiktoksans.scss";

//@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wdth,wght@12..36,91.8,300..900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

/*@mixin font($stretch: normal) {
    font-family: "Roboto Flex Regular", Arial, sans-serif;
    font-stretch: $stretch;
}*/
//@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62.5,100..900;1,62.5,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    display: flex; // Without this, there will be a space between Nav and main
    flex-direction: column;

    font-family: var(--font-main);
    font-size: var(--main-font-size);
    line-height: 1.5;
    max-width: 40em;
    margin: 0;
    color: var(--body-font-color); //color: #212427;
    background-color: var(--body-bg-color);
    
    -webkit-font-smoothing: antialiased; /* For WebKit browsers (Chrome, Safari) */
    -moz-osx-font-smoothing: grayscale;  /* For Firefox on macOS */

    background: rgb(255, 254, 251);
    /* word-spacing: 2px; */
    //letter-spacing: 0.1px;
}
body.light-mode {
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23adadad' fill-opacity='0.19'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    //background-color: #ffffff;
    //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23adadad' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body.dark-mode {
    --body-bg-color: #474444;
    --body-font-color: rgb(213 213 213);
    --main-color: rgb(164 119 119); //rgb(171 171 171);
    --link-color: #919191;
    --header-color: var(--body-font-color);
    --h-color: #b9b4b4;
    --panel-color-1: #292828;
}


body.dark-mode blockquote {
    background: #373737;
    color: #cacaca;
}

h1, h2, h3, h4, h5, h6 {
    //margin-block: 1rem;
    font-weight: 400;
    font-family: "Bebas Neue","Tiktok Sans","Google Sans",arch, "Roboto Flex Regular", Arial, sans-serif;
	color: var(--h-color);
        text-align: center;
}

a {    
    text-underline-offset: 3px;
    color: inherit;
    text-decoration-color: var(--link-color); 
    text-decoration-thickness: 1.3px;  
}

p {
    margin-block: 0.5rem;
    margin-block: 1rem;
}

// ====== Header css ====
header {
    //padding-inline: 1.5rem;
        //border-block-end: 3px solid black;
            background: var(--nav-bg-color);
	//box-shadow: 3px 1px 0px #80808045;
    //border-block-end: 3px solid black;

        border: 2px solid #000;
    margin: 1.2rem;
    border-radius: 5px;
        box-shadow: var(--box-shadow-style);
}
.header-pic {
    text-align: center;
    display: flex;
	justify-content: center;
}
.header-pic img {
    height: 70px;
}
.header-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
h1.title-header {
    font-family: "Road Rage", "Amatic SC";
    font-size: 3.5rem;
    margin: 0;
    color: #d76868;
}

nav {
    gap: 1rem;
    display: flex;
    place-content: flex-start;
    justify-content: center;
    overflow-x: auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--nav-bg-color);
	//box-shadow: 3px 1px 0px #80808045;
    //border-block-end: 3px solid black;

        border-block-end: 2px solid #4b5864;
        //margin-inline: 1.2rem;//margin: 1.2rem;
    //border-radius: 5px;
        box-shadow: var(--box-shadow-style);

    a {
        text-decoration: none; // remove underline on nav items
        font-size: var(--nav-link-size);
        text-align: center;
        position: relative;
		
		color: #6b6b6b;
		padding: 14px 0;
		//font-family: "TikTok Sans";

            text-transform: uppercase;
    font-family: "Bebas Neue";
    font-size: larger;
    }
    a.active {
        color: var(--header-color);
        text-decoration: none;
    }
	a.active::after {
content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    height: 2px;
    background: #121212;
	}	
    // Put a half blue bar on active link
    /*
	a.active::before {
        content: '';
        background-color: hsl(196deg 61% 58% / 18%);
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 8px;
        z-index: -1;
        transition: all .3s ease-in-out;
    }
    a:hover::before {
        bottom: 0;
        height: 100%;
    }
	*/
}

.title-header a {
    text-decoration: none;
    text-transform: uppercase;
}
// === Panel coloring

header,nav { 
    //background: var(--panel-color-1); 
}
header {
    //background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3cpath d='M111.03 105L175.99 142.5L175.99 217.5L111.03 255L46.08 217.5L46.08 142.5zM111.03 330L175.99 367.5L175.99 442.5L111.03 480L46.08 442.5L46.08 367.5zM305.89 442.5L370.85 480L370.85 555L305.89 592.5L240.94 555L240.94 480zM435.8 -7.5L500.76 30L500.76 105L435.8 142.5L370.85 105L370.85 30zM500.76 105L565.71 142.5L565.71 217.5L500.76 255L435.8 217.5L435.8 142.5zM500.76 555L565.71 592.5L565.71 667.5L500.76 705L435.8 667.5L435.8 592.5zM695.62 217.5L760.57 255L760.57 330L695.62 367.5L630.66 330L630.66 255zM825.52 217.5L890.48 255L890.48 330L825.52 367.5L760.57 330L760.57 255zM890.48 330L955.43 367.5L955.43 442.5L890.48 480L825.52 442.5L825.52 367.5zM1020.39 105L1085.34 142.5L1085.34 217.5L1020.39 255L955.43 217.5L955.43 142.5zM1085.34 217.5L1150.29 255L1150.29 330L1085.34 367.5L1020.39 330L1020.39 255zM1150.29 330L1215.25 367.5L1215.25 442.5L1150.29 480L1085.34 442.5L1085.34 367.5zM1150.29 555L1215.25 592.5L1215.25 667.5L1150.29 705L1085.34 667.5L1085.34 592.5zM1215.25 -7.5L1280.2 30L1280.2 105L1215.25 142.5L1150.29 105L1150.29 30zM1215.25 217.5L1280.2 255L1280.2 330L1215.25 367.5L1150.29 330L1150.29 255zM1280.2 555L1345.15 592.5L1345.15 667.5L1280.2 705L1215.25 667.5L1215.25 592.5zM1345.15 -7.5L1410.11 30L1410.11 105L1345.15 142.5L1280.2 105L1280.2 30z' stroke='rgba(149%2c 149%2c 149%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M103.53 105 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM168.49 142.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM168.49 217.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM103.53 255 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM38.58 217.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM38.58 142.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM103.53 330 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM168.49 367.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM168.49 442.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM103.53 480 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM38.58 442.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM38.58 367.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM298.39 442.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM363.35 480 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM363.35 555 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM298.39 592.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM233.44 555 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM233.44 480 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM428.3 -7.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM493.26 30 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM493.26 105 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM428.3 142.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM363.35 105 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM363.35 30 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM558.21 142.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM558.21 217.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM493.26 255 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM428.3 217.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM493.26 555 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM558.21 592.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM558.21 667.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM493.26 705 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM428.3 667.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM428.3 592.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM688.12 217.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM753.07 255 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM753.07 330 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM688.12 367.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM623.16 330 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM623.16 255 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM818.02 217.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM882.98 255 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM882.98 330 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM818.02 367.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM947.93 367.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM947.93 442.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM882.98 480 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM818.02 442.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1012.89 105 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1077.84 142.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1077.84 217.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1012.89 255 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM947.93 217.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM947.93 142.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1142.79 255 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1142.79 330 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1077.84 367.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1012.89 330 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1207.75 367.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1207.75 442.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1142.79 480 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1077.84 442.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1142.79 555 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1207.75 592.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1207.75 667.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1142.79 705 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1077.84 667.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1077.84 592.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1207.75 -7.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1272.7 30 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1272.7 105 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1207.75 142.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1142.79 105 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1142.79 30 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1207.75 217.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1272.7 255 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1272.7 330 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1272.7 555 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1337.65 592.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1337.65 667.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1272.7 705 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1337.65 -7.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1402.61 30 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1402.61 105 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1337.65 142.5 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(149%2c 149%2c 149%2c 0.42)'%3e%3c/path%3e%3cpath d='M172.74 31.51L216.04 56.51L216.04 106.51L172.74 131.51L129.44 106.51L129.44 56.51zM259.34 181.51L302.64 206.51L302.64 256.51L259.34 281.51L216.04 256.51L216.04 206.51zM345.95 31.51L389.25 56.51L389.25 106.51L345.95 131.51L302.64 106.51L302.64 56.51zM302.64 106.51L345.95 131.51L345.95 181.51L302.64 206.51L259.34 181.51L259.34 131.51zM389.25 106.51L432.55 131.51L432.55 181.51L389.25 206.51L345.95 181.51L345.95 131.51zM432.55 481.51L475.86 506.51L475.86 556.51L432.55 581.51L389.25 556.51L389.25 506.51zM475.86 106.51L519.16 131.51L519.16 181.51L475.86 206.51L432.55 181.51L432.55 131.51zM519.16 181.51L562.46 206.51L562.46 256.51L519.16 281.51L475.86 256.51L475.86 206.51zM562.46 -43.49L605.76 -18.49L605.76 31.51L562.46 56.51L519.16 31.51L519.16 -18.49zM735.67 406.51L778.97 431.51L778.97 481.51L735.67 506.51L692.37 481.51L692.37 431.51zM822.28 -43.49L865.58 -18.49L865.58 31.51L822.28 56.51L778.97 31.51L778.97 -18.49zM995.49 406.51L1038.79 431.51L1038.79 481.51L995.49 506.51L952.18 481.51L952.18 431.51zM1038.79 481.51L1082.09 506.51L1082.09 556.51L1038.79 581.51L995.49 556.51L995.49 506.51zM1255.3 406.51L1298.6 431.51L1298.6 481.51L1255.3 506.51L1212 481.51L1212 431.51zM1385.21 181.51L1428.51 206.51L1428.51 256.51L1385.21 281.51L1341.9 256.51L1341.9 206.51zM1385.21 481.51L1428.51 506.51L1428.51 556.51L1385.21 581.51L1341.9 556.51L1341.9 506.51z' stroke='rgba(214%2c 214%2c 214%2c 0.33)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");    
    //background-size: contain;
    //padding-block: 1rem;
}

.table-of-contents {
    color: #575757;
}
.table-of-contents ol li {
    padding-block: .19rem;
    font-size: var(--toc-font-size);
}

main {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    padding: 1.2rem;
    padding: 0 1.2rem 0 1.2rem;
    //background: #c98787;//#8787c9;
}

.card {
    border: var(--card-border-style);
    padding-inline: 1rem;
    padding-block: 0.5rem;
    background: var(--card-bg-color);//#ffffff;
    /* margin: 1rem; */
    box-shadow: var(--box-shadow-style);
    margin-block-end: 1.2rem;
    border-radius: 4px;
    /* border-radius: 0.5rem;*/
}

//Style the various graphic images in the blog articles ====
img.blog-graphic {
	width:15%; 
	float:left;
	padding-right: 10px;
	margin: 0;
}

// Style images inserted through markdownit with class .image
img.image{
    width: 80%;
    display: block;
    margin: auto;
    margin-block: 40px;
    //box-shadow: 0px 0px 4px 0px #979797;

        box-shadow: var(--box-shadow-style);
    border: var(--card-border-style);
}

blockquote {
    padding: 1rem;
    font-size: 85%;
    color: #338342;
    background: #58ef7321;
    margin-inline: 0;
    border-radius: 5px;

    p {
        margin: 0;
        padding: 0;
    }
}

/*
hr.rainbow {
    margin: 0rem 0; //margin: 0.5rem 0; /// Consistent vertical spacing
    border: none; // Remove default border 
    height: 4px; // Set the thickness of the line
    background-image: repeating-linear-gradient(
        to right,
        var(--col-1) 0, var(--col-1) 50px,
        var(--col-2) 50px, var(--col-2) 100px,
        var(--col-3) 100px, var(--col-3) 150px,
        var(--col-4) 150px, var(--col-4) 200px,
        var(--col-5) 200px, var(--col-5) 250px,
        var(--col-6) 250px, var(--col-6) 300px,
        var(--col-7) 300px, var(--col-7) 350px,
        var(--col-8) 350px, var(--col-8) 400px
      );    
    
    background-size: 400px 100%; // Match gradient width to total range
    background-repeat: repeat-x; // Ensure horizontal repetition
}
*/

hr, hr.line {
    border: 0;
    height: 0;
    border-top: 2px solid rgb(0 0 0);
    border-bottom: 1px solid rgb(83 83 83);
    width: 100%;
}

ul {
    padding-inline-start: 1rem;
    //margin-block: 0;
    //list-style: circle;
    li{}

    /* ## Increase the gap between li items without affecting the gap between the list and surrounding elements */
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

li::marker {
    color: var(--main-color);
}

ol {
    padding-inline-start: 1.5em;
    
    li {
        padding-inline-start: 0.19rem;
    }    
}
//===============
.blog-list {
    //margin-block: 0.5rem;
}

.home-blog-list ul/*, .blog-list ul*/{
    padding: 0;
    padding-inline-start: 1rem;
        padding-block-end: 1rem;
}

//.blog-list ul li, 
.home-blog-list ul li{
    list-style-type: none;
   position: relative;
    right: 1rem;
        padding-block: 0.3rem;
    //padding-block: .5rem;    
}
time.blog-list-date{
    font-size: 70%;
    color: grey;
    display: block;
}

.home-blog-list ul li, .blog-list ul li{
    //padding-block: 0.4rem;
    
    /*
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="10" width="6.25" viewBox="0 0 320 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="%23f03838" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>');
    position: relative;
    right: 5px;
    
    
    padding-block-end: 10px;
    padding-left: 10px;
    

    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="10" width="6.25" viewBox="0 0 320 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="%23f03838" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>');
    
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>');

    background-repeat: no-repeat;
    background-position: left center;
    background-position: left 0.5em;
    background-size: 8px;
    padding-left: 20px;
    position: relative;
    right: 1rem;
    */
}

time.blog-post-date {
    font-size: 75%;
    color: grey;
    display: block;
    margin-block-start: -0.6rem;
}

footer {
    text-align: center;
    font-size: 15px;
    padding-block: 1rem;
    //border-block-start: 3px solid black;
	//background: var(--panel-color-1);
    svg { /*stroke: var(--main-color); */}
}

// ==== Details design ======
details {
    font-size: 0.8em;

    border: 1px dashed #aaaaaa78;
    border-radius: 3px;
    padding-inline: 12px;
    padding-block: 5px;
    margin-block: 10px;
    margin-inline: 7px;
}
  
summary {}
details[open] {}
  
details[open] summary {
    border-bottom: 1px dashed darkgrey;
    padding-block-end: 0.5rem;
}
  
details > summary {
    list-style-type: ' + ';
    //list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="10" width="8.75" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="currentColor" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>');
}

details[open] > summary {
    list-style-type: ' - ';
    //list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="10" width="8.75" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="currentColor" d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>');
}

//========================


@media screen and (min-width:600px){
    body {
        //max-width: 60em;
        max-width: initial;
    }
    
    main {
        //min-height: 80vh;
            max-width: 40rem;
            margin-inline: auto;

            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:2rem;
    }
    footer {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding-block: 0rem;
    }
}

/* === TOC styling === */
.toc ul li{ list-style-type: none; }
.toc ul li::before {
    content: "";
    display: inline-block;
    /* Set your desired size here */
    width: 16px; 
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black"><path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" /></svg>');
    background-size: contain;
    background-repeat: no-repeat;
}
.toc{
        background: #fff2c257;
    padding: 1rem;
    border-radius: 10px;
    color:grey;
    border: var(--card-border-style);
}
.dark-mode .toc ul li::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"><path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" /></svg>');
}

/* =======================*/

/* ===== box Shortcode Css =====*/
.custom-box {
    /* padding: 1rem; */
    font-size: 85%;
    margin-inline: 0;
    border-radius: 5px;
    padding-inline: 1rem;
    margin-block: 0.5rem;
    padding-block: 1rem;

        //border: 1px solid black;
}

/* .custom-box p:first-child { margin-top: 0; }
.custom-box p:last-child { margin-bottom: 0; } */

/* =========================================
    LIGHT MODE (Default Colors)
    ========================================= */
.box-red {
    background-color: #fee2e2;
    color: #991b1b;
}

.box-green {
    background-color: #dbfbe1;
    color: #338342;
}

.box-blue {
    background-color: #dbf4f9;
    color: #1d7591;
}

.box-orange {
    background-color: #ffedd5;
    color: #c2410c;
}    

/* =========================================
    DARK MODE (Activated by your toggle button)
    ========================================= */
/* This targets the colors ONLY when your site is in dark mode */
.dark-mode .box-red {
    background-color: rgba(239, 68, 68, 0.15); 
    color: #fca5a5; 
}

.dark-mode .box-green {
    background-color: rgb(68 91 72);
    color: #8eb996;
}

.dark-mode .box-blue {
    background-color: rgb(71 96 101);
    color: #89bbc1; 
}

.dark-mode .box-orange {
 background-color: rgb(121 96 80);
    color: #e3ac7c;
}

/* ===== End of box Shortcode Css =====*/

/* == Favourites Shortcode == */
details.favourite {
    font-size: 1.2rem;
    border: none;
    border-radius: 3px;
    padding-inline: 12px;
    padding-block: 8px;
    margin-block: 10px;
    margin-inline: 7px;
    /* display: flex; */
    background: var(--panel-color-1);
    /*box-shadow: 1px 2px 2px 0 rgba(167, 172, 197, .43); */
    border: 1px solid;
}
.dark-mode details.favourite {
    box-shadow: 1px 2px 2px 0 rgb(241 241 241 / 32%);
}
details.favourite[open]>summary {
    list-style: none;
}
details.favourite[open] summary {
    border-bottom: none;
    //padding-block-end: 1rem;
}
details.favourite>summary {
    list-style: none;
}

.favourite li {
background: #c5c4c459;
    padding: .4rem;
    list-style: none;
    margin-block-start: .1rem;
    border-radius: 5px;
    padding-inline: 1rem;
    color: #656877;
    font-size: small;
}
.dark-mode .favourite li {
    background: #56647769;
    color: #bdbdbd;
}
.favourite ul {
    padding-inline-start: 1.5rem;
    padding-block: 0.5rem;
    margin-block: 0;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    /* background: antiquewhite; */
    flex-wrap: wrap;
}