@use "variables.scss";
@use "fontcss/roadrage.scss";
@use "fontcss/bebasneue.scss";
@use "fontcss/assc.scss";
//@use "fontcss/tiktoksans.scss";
@use "fontcss/intertight.scss";

//@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62.5,100..900;1,62.5,100..900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Actor&family=Jost:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wdth,wght@12..36,95.1,300..900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex; // Without this, there will be a space between Nav and main
    flex-direction: column;

    font-family: var(--font-main);
    font-size: var(--main-font-size);
    line-height: 1.6;
    max-width: 40em;
    margin: 0;
    color: var(--body-font-color); //color: #212427;
    background-color: var(--body-bg-color);
    
    -webkit-font-smoothing: antialiased; /* For WebKit browsers (Chrome, Safari) */
    -moz-osx-font-smoothing: grayscale;  /* For Firefox on macOS */

    background: rgb(255, 254, 251);
    /* word-spacing: 2px; */
    //letter-spacing: 0.1px;
}
body.light-mode {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23adadad' fill-opacity='0.19'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    //background-color: #ffffff;
    //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23adadad' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body.dark-mode {
    //--body-bg-color: #272727;//#474444;
    --body-font-color: rgb(213 213 213);
    --main-color: rgb(171 171 171);
    --link-color: #919191;
    --nav-link-color: none;
    //--header-color: none;//var(--body-font-color);
    --h-color: #b9b4b4;
    --panel-color-1: #292828;
    --card-bg-color: #2f4858;//rgb(76 76 76);
    --nav-bg-color: #2f4858;//rgb(76 76 76);
    --card-border-style: 1.2px solid none;
    background-color: #272727;//#161616;
    //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.12'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


body.dark-mode blockquote {
    background: #373737;
    color: #cacaca;
}

h1, h2, h3, h4, h5, h6 {
    //margin-block: 1rem;
    font-weight: 400;
    font-family: "Bebas Neue","TikTok Sans","Google Sans",arch, "Roboto Flex Regular", Arial, sans-serif;
	color: var(--h-color);
    margin-block: 1rem;
    //    text-align: center;
}
.card h1, .card h2, h1.title, h2.title{
  //text-align: center;
}

a {    
    text-underline-offset: 3px;
    color: inherit;
    text-decoration-color: var(--link-color); 
    text-decoration-thickness: 1px;  
}

p {
    margin-block: 0.5rem;
    margin-block: 1rem;
}

// ====== Header css ====
header {
    /*background: var(--nav-bg-color);
    border: 2px solid #000;
    margin: 1.2rem;
    border-radius: 5px;
        box-shadow: var(--box-shadow-style);*/

	background: var(--header-bg-color); // #f7f7f757;//#f7f7f7;
    //border-block: 1px solid #000;
    //margin-block: 1.2rem;
    
 }
.header-pic {
    text-align: center;
    display: flex;
	justify-content: center;
}
.header-pic img {
    height: 70px;
}
.header-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
h1.title-header {
    font-family: "Road Rage", "Amatic SC";
    font-size: 3.5rem;
    margin: 0;
    //color: #d76868;
}

nav {
    gap: 1rem;
    display: flex;
    place-content: flex-start;
    justify-content: center;
    overflow-x: auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--nav-bg-color);
    border-block-end: 3px solid #000;
    //box-shadow: var(--box-shadow-style);
        border-block: var(--card-border-style);

    a {
        text-decoration: none; // remove underline on nav items
        font-size: var(--nav-link-size);
        text-align: center;
        position: relative;
		
		color: var(--nav-link-color);
		padding: 14px 0;
		//font-family: "TikTok Sans";

        text-transform: uppercase;
        font-family: "Bebas Neue";
        //font-size: larger;
    }
    a.active {
        color: var(--header-bg-color);//var(--header-color);
        text-decoration: none;
    }
	a.active::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
        height: 2px;
        //**** background: #121212;
	}	
    // Put a half blue bar on active link
    /*
	a.active::before {
        content: '';
        background-color: hsl(196deg 61% 58% / 18%);
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 8px;
        z-index: -1;
        transition: all .3s ease-in-out;
    }
    a:hover::before {
        bottom: 0;
        height: 100%;
    }
	*/
}

.title-header a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--header-color);
}

.post p {
    //font-size: 20px;
    line-height: 1.7;
    word-spacing: 2px;
    //font-family: "Jost";
}

.table-of-contents {
    color: #575757;
}
.table-of-contents ol li {
    padding-block: .19rem;
    font-size: var(--toc-font-size);
}

main {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    padding: 1.2rem;
    padding: 0 1.2rem 0 1.2rem;
    //background: #c98787;//#8787c9;
}

.card {
    border-block-end: var(--card-border-style);
    padding-inline: 1.5rem;
    //padding-block: 0.5rem;
    background: var(--card-bg-color);//#ffffff;
    /* margin: 1rem; */
    box-shadow: var(--box-shadow-style);
    margin-block-start: 1.2rem;
    border-radius: var(--card-radius);
    /* border-radius: 0.5rem;*/

        padding-inline: 2rem;
    padding-block: 1rem;
}
//header, nav, .card {
//    box-shadow: 0px 3px #494949;
//}

//Style the various graphic images in the blog articles ====
img.blog-graphic {
	width:15%; 
	float:left;
	padding-right: 10px;
	margin: 0;
}

// Style images inserted through markdownit with class .image
img.image{
    width: 80%;
    display: block;
    margin: auto;
    margin-block: 40px;
    //box-shadow: 0px 0px 4px 0px #979797;

        box-shadow: var(--box-shadow-style);
    border: var(--card-border-style);
}

blockquote {
    padding: 1rem;
    font-size: 85%;
    color: #338342;
    background: #58ef7321;
    margin-inline: 0;
    border-radius: 5px;

    p {
        margin: 0;
        padding: 0;
    }
}

/*
hr.rainbow {
    margin: 0rem 0; //margin: 0.5rem 0; /// Consistent vertical spacing
    border: none; // Remove default border 
    height: 4px; // Set the thickness of the line
    background-image: repeating-linear-gradient(
        to right,
        var(--col-1) 0, var(--col-1) 50px,
        var(--col-2) 50px, var(--col-2) 100px,
        var(--col-3) 100px, var(--col-3) 150px,
        var(--col-4) 150px, var(--col-4) 200px,
        var(--col-5) 200px, var(--col-5) 250px,
        var(--col-6) 250px, var(--col-6) 300px,
        var(--col-7) 300px, var(--col-7) 350px,
        var(--col-8) 350px, var(--col-8) 400px
      );    
    
    background-size: 400px 100%; // Match gradient width to total range
    background-repeat: repeat-x; // Ensure horizontal repetition
}
*/

hr, hr.line {
    //border: 0;
    //height: 0;
    //border-top: 2px solid rgb(0 0 0);
    //border-bottom: 1px solid rgb(83 83 83);
    //width: 100%;
}

ul {
    padding-inline-start: 1rem;
    //margin-block: 0;
    //list-style: circle;
    li{
        padding-inline-start: 0.1rem;
        font-family: var(--font-secondary);
        font-size: 19px;
    }

    /* ## Increase the gap between li items without affecting the gap between the list and surrounding elements */
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

li::marker {
    color: var(--main-color);
}

ol {
    padding-inline-start: 1.5em;
    
    li {
        padding-inline-start: 0.19rem;
    }    
}
//===============
.blog-list {
    //margin-block: 0.5rem;
}

.home-blog-list ul/*, .blog-list ul*/{
    //padding: 0;
    //padding-inline-start: 1rem;
    //    padding-block-end: 1rem;
}

//.blog-list ul li, 
.home-blog-list ul li{
    //list-style-type: none;
   //position: relative;
    //right: 1rem;
    //    padding-block: 0.3rem;
    //padding-block: .5rem;    
}
time.blog-list-date{
    font-size: 70%;
    color: grey;
    display: block;
}

.home-blog-list ul li, .blog-list ul li{
    //padding-block: 0.4rem;
    
    /*
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="10" width="6.25" viewBox="0 0 320 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="%23f03838" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>');
    position: relative;
    right: 5px;
    
    
    padding-block-end: 10px;
    padding-left: 10px;
    

    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="10" width="6.25" viewBox="0 0 320 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="%23f03838" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>');
    
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>');

    background-repeat: no-repeat;
    background-position: left center;
    background-position: left 0.5em;
    background-size: 8px;
    padding-left: 20px;
    position: relative;
    right: 1rem;
    */
}

time.blog-post-date {
    font-size: 75%;
    color: grey;
    display: block;
    margin-block-start: -0.6rem;
    font-family: 'Bebas Neue';
}

footer {
    text-align: center;
    font-size: 15px;
    padding-block: 1rem;
    //border-block-start: 3px solid black;
	//background: var(--panel-color-1);
    font-family: var(--font-secondary);
    svg { /*stroke: var(--main-color); */}
}

// ==== Details design ======
details {
    font-size: 0.8em;

    border: 1px dashed #aaaaaa78;
    border-radius: 3px;
    padding-inline: 12px;
    padding-block: 5px;
    margin-block: 10px;
    margin-inline: 7px;
}
  
summary {}
details[open] {}
  
details[open] summary {
    border-bottom: 1px dashed darkgrey;
    padding-block-end: 0.5rem;
}
  
details > summary {
    list-style-type: ' + ';
    //list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="10" width="8.75" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="currentColor" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>');
}

details[open] > summary {
    list-style-type: ' - ';
    //list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="10" width="8.75" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="currentColor" d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>');
}

//========================


@media screen and (min-width:700px){
    html{
        background-color: aliceblue;
    }
    body {
        /* max-width: initial; */
        max-width: 65rem;
        border-inline: 1px solid;
        margin-inline: auto;
        /* display: flex; */
        /* align-self: center;*/
    }
    main{
         //min-height: 80vh;

            display: grid;
            grid-template-columns: 1fr 1fr;
            //grid-template-columns: minmax(300px, 1fr) 2fr;
            gap:2rem;
        max-width: 50rem;
        margin-inline: auto;
    }
    
    /* Make the main that has a post class be one col */
    .post {
        //display: block;
        grid-column: 1 / -1;
        max-width: 40rem;
    }
    .hello-panel.card {
        align-self: start;
    }
    header{
        border-block: none;
        //margin-block: 0;
        //width: 50rem;
        //align-self: center; 
        
        /* Temporary fix for awkward look in widescreen */
        //background: none;
        //border: none;
        //box-shadow: none;
    }
    .card ul {
        //display: grid;
        //grid-template-columns: 1fr 1fr;
        //column-gap: 3rem;
    }
    footer {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding-block: 0rem;
    }
}

/* === TOC styling === */
.toc ul li{ list-style-type: none; }
.toc ul li::before {
    content: "";
    display: inline-block;
    /* Set your desired size here */
    width: 16px; 
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black"><path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" /></svg>');
    background-size: contain;
    background-repeat: no-repeat;
}
.toc{
    background: rgb(241 241 241 / 34%);
    padding-inline: 1rem;
    border-radius: 4px;
    color: gray;
    border: var(--card-border-style);

    ul {
        gap: 0.5rem;
    }

    ul li a {
        font-size: medium;
    }
}
.dark-mode .toc ul li::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"><path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" /></svg>');
}

/* =======================*/

/* ===== box Shortcode Css =====*/
.custom-box {
    /* padding: 1rem; */
    font-size: 85%;
    margin-inline: 0;
    border-radius: 5px;
    padding-inline: 1rem;
    margin-block: 1rem;
    padding-block: 1rem;
    font-family: var(--font-secondary);
    //border: 1px solid;
        //border: 1px solid black;
}

/* .custom-box p:first-child { margin-top: 0; }
.custom-box p:last-child { margin-bottom: 0; } */

/* =========================================
    LIGHT MODE (Default Colors)
    ========================================= */
.box-red {
    background-color: #fee2e2;
    color: #991b1b;
}

.box-green {
    background-color: #dbfbe1;
    color: #338342;
}

.box-blue {
    background-color: #dbf4f9;
    color: #1d7591;
}

.box-orange {
    background-color: #ffedd5;
    color: #c2410c;
}    

/* =========================================
    DARK MODE (Activated by your toggle button)
    ========================================= */
/* This targets the colors ONLY when your site is in dark mode */
.dark-mode .box-red {
    background-color: rgba(239, 68, 68, 0.15); 
    color: #fca5a5; 
}

.dark-mode .box-green {
    background-color: rgb(68 91 72);
    color: #8eb996;
}

.dark-mode .box-blue {
    background-color: rgb(71 96 101);
    color: #89bbc1; 
}

.dark-mode .box-orange {
 background-color: rgb(121 96 80);
    color: #e3ac7c;
}

/* ===== End of box Shortcode Css =====*/

/* == Favourites Shortcode == */
details.favourite {
    font-size: 1.2rem;
    border: none;
    border-radius: 3px;
    padding-inline: 12px;
    padding-block: 8px;
    margin-block: 10px;
    margin-inline: 7px;
    /* display: flex; */
    background: var(--panel-color-1);
    /*box-shadow: 1px 2px 2px 0 rgba(167, 172, 197, .43); */
    border: 1px solid;
}
.dark-mode details.favourite {
    box-shadow: 1px 2px 2px 0 rgb(241 241 241 / 32%);
}
details.favourite[open]>summary {
    list-style: none;
}
details.favourite[open] summary {
    border-bottom: none;
    //padding-block-end: 1rem;
}
details.favourite>summary {
    list-style: none;
}

.favourite li {
background: #c5c4c459;
    padding: .4rem;
    list-style: none;
    margin-block-start: .1rem;
    border-radius: 5px;
    padding-inline: 1rem;
    color: #656877;
    font-size: small;
}
.dark-mode .favourite li {
    background: #56647769;
    color: #bdbdbd;
}
.favourite ul {
    padding-inline-start: 1.5rem;
    padding-block: 0.5rem;
    margin-block: 0;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    /* background: antiquewhite; */
    flex-wrap: wrap;
}