:root {
    --main-font-size: 19px;
    --nav-link-size: 25px;
    --body-bg-color: white;
    --body-font-color: rgb(29, 29, 29);
    --nav-bg-color:  #f1f1f1; //#f7f7f7; //#e6e3e3;
    --card-bg-color: #f1f1f1; //rgb(247 247 247);
    --main-color: var(--header-bg-color);
    --link-color: #b5b5b5;//#4b5864;
    --nav-link-color: #6b6b6b;
    --header-color: #ffffff; //#d76868;
    --header-bg-color: rgb(216, 75, 75);
    --h-color: #516890;//#676f87;
    --font-main: "Inter Tight", "Tiktok Sans 18pt SemiCondensed", "Jost", "TikTok Sans 18pt", "Inter", "Google Sans", "Roboto Flex", "Arial", "Acumin Pro SemiCondensed";
    --font-secondary: "Inter Tight", "Tiktok Sans 18pt SemiCondensed", "Inter", "Jost", "TikTok Sans 18pt", "Inter", "Google Sans", "Roboto Flex", "Arial", "Acumin Pro SemiCondensed";
    --toc-font-size: 1rem;
    --header-color-rgb: 255, 255, 255;
    --card-border-style: 1.2px solid rgb(98, 98, 98);
    --card-radius: 18px;

    --space-1: 1rem;
	
    // Panel Colours
    --panel-color-1: #eeeeee;//#c8daee;
    //--panel-color-2: #e4dabc;
    //--panel-color-3: #e4dabc;
}

/*
@media screen and (min-width:600px){
    :root {
        --section-padding-inline: 5rem;
        --section-padding-block: 0;
    }
}
@media screen and (min-width:900px){
    :root {
        --section-padding-inline: 10rem;
        --section-padding-block: 0;

    }
}
*/