:root {
    --main-font-size: 19px;
    --nav-link-size: 17px;
    --body-bg-color: white;
    --nav-bg-color: rgb(247 247 247);
    --card-bg-color: rgb(247 247 247);
    --main-color: rgb(188 68 68);
    --link-color: #4b5864;
    --header-color: #ffffff; //#d76868;
    --header-bg-color: rgb(216, 75, 75);
    --h-color: #676f87;
    --font-main: "Tiktok Sans 18pt SemiCondensed", "TikTok Sans 18pt", "Inter", "Google Sans", "Roboto Flex", "Arial", "Acumin Pro SemiCondensed";
    //--header-color: var(--body-font-color);
    --toc-font-size: 1rem;
    --header-color-rgb: 255, 255, 255;
    --card-border-style: 1px solid rgb(0, 0, 0);
    /* --box-shadow-style: 3px 3px rgb(85 85 85); */
    --card-radius: 5px;
	
    // Panel Colours
    --panel-color-1: #eeeeee;//#c8daee;
    //--panel-color-2: #e4dabc;
    //--panel-color-3: #e4dabc;
}

@media screen and (min-width:600px){
    :root {
        --section-padding-inline: 5rem;
        --section-padding-block: 0;
    }
}
@media screen and (min-width:900px){
    :root {
        --section-padding-inline: 10rem;
        --section-padding-block: 0;

    }
}
