<head>
    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="theme-color" content="#000"> <!-- #676f87 Must change color on dark/light mode js code too -->
    <meta name="author" content="Arky">

    <title>
        {% if page.title %}
            {{ page.title }}
        {% elif section.title %}
            {{ section.title }}
        {% else %}
            {{ config.title }}
        {% endif %}
    </title>

    {% if page.description %}
        <meta name="description" content="{{ page.description }}">
        <meta property="og:description" content="{{ page.description }}">
        <meta property="twitter:description" content="{{ page.description }}">
    {% elif section.description %}
        <meta name="description" content="{{ section.description }}">
        <meta property="og:description" content="{{ section.description }}">
        <meta property="twitter:description" content="{{ section.description }}">
    {% else %}
        <meta name="description" content="{{ config.description }}">
        <meta property="og:description" content="{{ config.description }}">
        <meta property="twitter:description" content="{{ config.description }}">
    {% endif %}

    <!-- 1. Determine the best title to use -->
    {% if page.title %}
        {% set og_title = page.title %}
    {% elif section.title %}
        {% set og_title = section.title %}
    {% else %}
        {% set og_title = config.title %}
    {% endif %}

    <!-- 2. Output the Meta Tags -->
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:site_name" content="{{ config.title }}">

    <!-- Make og:type dynamic (Articles vs standard pages) -->
    {% if page %}
        <meta property="og:type" content="article">
    {% else %}
        <meta property="og:type" content="website">
    {% endif %}

    <meta property="og:image" content="{{ get_url(path='ogp.jpg') }}">


    <!--
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="400">
    -->
    <link rel="icon" href="{{ get_url(path='favicon.ico') }}">
    
    <!-- Optional preload examples -->
    {#
    <link rel="preload" href="{{ get_url(path='styles.css') }}" as="style">
    <link rel="preload" href="{{ get_url(path='styles/variables.css') }}" as="style">
    <link rel="preload" href="{{ get_url(path='fonts/RobotoFlex/RoboFlex.woff2') }}" as="font" type="font/woff2" crossorigin="anonymous">
    #}
    <link rel="preload" href="{{ get_url(path='fonts/roadrage/RoadRage-Regular.woff2') }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ get_url(path='fonts/bebasneue/BebasNeue-Regular.woff2') }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ get_url(path='fonts/tiktoksans/TikTokSans18ptSemiCondensed-Regular.woff2') }}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{{ get_url(path='styles.css') }}">

    <script defer async data-host="arky.pages.dev" src="https://liteanalytics.com/lite.js"></script>
</head>