<nav>
    <a href="/" {% if current_path is defined and current_path == "/" %}class="active"{% endif %}>Home</a>
    <a href="/blog/" {% if current_path is defined and current_path is starting_with(pat="/blog") %}class="active"{% endif %}>Blog</a>
    <a href="/notes/" {% if current_path is defined and current_path is starting_with(pat="/notes") %}class="active"{% endif %}>Notes</a>
    <a href="/media/" {% if current_path is defined and current_path is starting_with(pat="/media") %}class="active"{% endif %}>Media</a>
    <a href="/web/" {% if current_path is defined and current_path is starting_with(pat="/web") %}class="active"{% endif %}>Web</a>
</nav>
