:root {
    --main-font-size: 19px;
    --nav-link-size: 17px;

    --body-bg-color: white;
    --body-font-color: #524944;//#244e78;
    --main-color:rgb(224 34 34);
    --link-color: #4b5864;//#60c9db91;
    --font-main: "Tiktok Sans", "Inter","Google Sans", "Roboto Flex", "Arial", "Acumin Pro SemiCondensed";    //--font: condensed 20px "Roboto Flex Regular", "Arial", "Acumin Pro Condensed";

    --header-color: var(--body-font-color);
    --toc-font-size: 1rem;
	--header-color-rgb: 255, 255, 255;
	
	// Panel Colours
    --panel-color-1: #eeeeee;//#c8daee;
    //--panel-color-2: #e4dabc;
    //--panel-color-3: #e4dabc;
}

@media screen and (min-width:600px){
    :root {
        --section-padding-inline: 5rem;
        --section-padding-block: 0;
    }
}
@media screen and (min-width:900px){
    :root {
        --section-padding-inline: 10rem;
        --section-padding-block: 0;

    }
}
