{% extends "base.html" %}

{% block content %}

<div class="blog-list">
    <!-- Explicitly fetch the Photos section -->
    {% set photos = get_section(path="media/photos/_index.md") %}
    <div class="photos-wrapper card">
        <h2>{{ photos.title }}</h2>
        <hr/>
        <ul>
            {% for page in photos.pages %}
                <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- Explicitly fetch the Music section -->
    {% set music = get_section(path="media/music/_index.md") %}
    <div class="music-wrapper card">
        <h2>{{ music.title }}</h2>
        <hr/>
        <ul>
            {% for page in music.pages %}
                <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}