{% extends "base.html" %}

{% block content %}

<div class="card">
<p><a class="notes" href = "/notes/about">About</a> </p><p>A little about me and my interests</p>
</div>

<div class="card">
<p><a class="notes" href = "/notes/i-am">I am</a> </p><p>A list of "I am .."</p>
</div>

<div class="card">
<p><a class="notes" href = "/notes/now">Now</a> </p><p>How I'm wasting my time</p>
</div>

<div class="card">
<p><a class="notes" href = "/notes/changelog">Changelog</a> </p> <p>Website changes</p>
</div>

<style scoped>  
    a.notes{
        /* text-underline-offset: 3px;
        color: inherit;
        text-decoration-color: #3c6099;
        text-decoration-thickness: 1.5px;
        color: #3c6099; */
    }

    .dark-mode a.notes{
        color: #b3cdd7;
        text-decoration-color: #b3cdd7;
    }
</style>



{% endblock content %}