{% extends "base.html" %}

{% block content %}

<section class="card notes-section">
    <h2 class="notes-section-title">Personal</h2>
    <div class="notes-list-title">A little about me and my favs</div>
    <a class="notes-list-item" href="/notes/about">About</a>
    
    <div class="notes-list-box">
        <div class="notes-list-title">Lists of ..</div>
        <a class="notes-list-item" href="/notes/lists/i-am">what I am</a>
        <a class="notes-list-item" href="/notes/lists/what-i-like">what I like</a>
        <a class="notes-list-item" href="/notes/lists/what-i-dislike">what I dislike</a>
        <a class="notes-list-item" href="/notes/lists/what-makes-me-happy">what makes me happy</a>
    </div>
</section>

<section class="card notes-section">
    <h2 class="notes-section-title">Other</h2>
    <div>
        <div class="notes-list-title">How I'm wasting my time</div>
        <a class="notes-list-item" href = "/notes/now">Now</a> 
    </div> 


    <div>
        <div class="notes-list-title">Changes to my website</div>        
        <a class="notes-list-item" href = "/notes/changelog">Changelog</a> 
    </div>

    <div>
        <div class="notes-list-title">About this website</div>        
        <a class="notes-list-item" href = "/notes/colophon">Colophon</a> 
    </div>
</section>


{% endblock content %}
