{% extends "base.html" %}

{% block content %}

<div class="card">
    <p><a href = "/web/blogroll">Blogroll</a><p>
    <p>A list of some cool blogs around the web</p>
</div>

<div class="blog-list card">
    <h2>Links</h2>
    <ul>
    {% for subsection_path in section.subsections %}
        {% set subsection = get_section(path=subsection_path) %}
        
        {% for page in subsection.pages %}
            <li>
                <a href="{{ page.permalink }}">{{ page.title }}</a>
            </li>
        {% endfor %}
    {% endfor %}
    </ul>
</div>
{% endblock content %}