@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('/fonts/assc/AlegreyaSansSC-Regular.woff2') format('woff2'),
        url('/fonts/assc/AlegreyaSansSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

