@font-face {
    font-family: 'TikTok Sans 18pt Condensed';
    src: url('/fonts/tiktoksans/TikTokSans18ptCondensed-Regular.woff2') format('woff2'),
        url('/fonts/tiktoksans/TikTokSans18ptCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TikTok Sans 18pt Expanded';
    src: url('/fonts/tiktoksans/TikTokSans18ptExpanded-Regular.woff2') format('woff2'),
        url('/fonts/tiktoksans/TikTokSans18ptExpanded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TikTok Sans 18pt ExtraExpanded';
    src: url('/fonts/tiktoksans/TikTokSans18ptExtraExpanded-Regular.woff2') format('woff2'),
        url('/fonts/tiktoksans/TikTokSans18ptExtraExpanded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TikTok Sans 18pt SemiCondensed';
    src: url('/fonts/tiktoksans/TikTokSans18ptSemiCondensed-Regular.woff2') format('woff2'),
        url('/fonts/tiktoksans/TikTokSans18ptSemiCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TikTok Sans 18pt SemiExpanded';
    src: url('/fonts/tiktoksans/TikTokSans18ptSemiExpanded-Regular.woff2') format('woff2'),
        url('/fonts/tiktoksans/TikTokSans18ptSemiExpanded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TikTok Sans 18pt';
    src: url('/fonts/tiktoksans/TikTokSans18pt-Regular.woff2') format('woff2'),
        url('/fonts/tiktoksans/TikTokSans18pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

